<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Back Office</title>
</head>

<body>
    <nav>
        Welcome, 
        <img src="/uploads/avatars/32x32/{{user.avatar}}" alt="" style="border-radius: 50%;">
        <a href="/users/me">{{user.name}} ({{user.username}})</a>
        <form action="/auth/logout" method="post" style="display: inline;">
            <button type="submit">logout</button>
        </form>
    </nav>

</body>

</html>