version: '3'

services:
  postgresql:
    image: postgres:16.1
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - ./postgresql-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: 1234

  adminer:
    image: adminer:4.8.1
    restart: unless-stopped
    ports:
      - 8080:8080
  
  redis:
      image: redis:alpine
      restart: unless-stopped
      ports:
        - 6379:6379
      command: /bin/sh -c "redis-server --requirepass 1234 --appendonly yes --replica-read-only no"