{% extends 'web/base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<form action="" method="post">
    
    <label for="currentPassword">Current Password:</label>
    <input type="password" name="currentPassword" id="currentPasswordInput" required>

    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" id="newPasswordInput" required>

    <label for="newPassword2">Comfirm New Password:</label>
    <input type="password" name="newPassword2" id="newPassword2Input" required>

    <button>Update</button>
    <button type="reset">Reset</button>
</form>
{% endblock content %}